
#main-content {
    position: static;
    top: 0px
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.synoptic {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/*
  Anything that can be act on gets this class
*/
.a4a-class-action:hover {
    stroke-width: 5px;
    cursor:pointer;
}

/*
  A two-coloured LED
*/
.a4a-class-led1 {
    stroke: silver;
    stroke-width: 3px;
    stroke-linejoin: round;
}

.a4a-class-led1[status="off"] {
    fill:   gray;
}

.a4a-class-led1[status="on"] {
    fill:   lime;
}

.a4a-class-led1[status="faulty"] {
    fill:   red;
}

/*
  Input LED reflects the status of an input bit
  Output LED reflects the status of an output bit
*/
.a4a-class-inputled,
.a4a-class-outputled{
    stroke: silver;
    stroke-width: 3px;
    stroke-linejoin: round;
}

.a4a-class-inputled[status="off"] {
    fill:   gray;
}

.a4a-class-inputled[status="on"] {
    fill:   lime;
}

 .a4a-class-outputled[status="off"] {
    fill:   gray;
}

.a4a-class-outputled[status="on"] {
    fill:   yellow;
}

/*
  Status : On = Ok, Off = Bad
*/
.a4a-status1 {
    width:120px;
    height: 50px;
    padding: 10px;
    border-style: solid;
    border-color: silver;
    border-width: medium;
    border-radius: 50%;
    text-align: center;
}

.a4a-status1[status="off"] {
    background-color: red;
}

.a4a-status1[status="on"] {
    background-color: lime;
}

.a4a-status2 {
    width:30px;
    height: 30px;
    border-style: solid;
    border-color: silver;
    border-width: medium;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.a4a-status2[status="unknown"] {
    background-color: gray;
}

.a4a-status2[status="disabled"] {
    background-color: blue;
}

.a4a-status2[status="fine"] {
    background-color: lime;
}

.a4a-status2[status="fault"] {
    background-color: red;
}

th.a4a-status2-table,
td.a4a-status2-table {
    width:30px;
    height: 30px;
    text-align: center;
}

.a4a-cifx-status-ready,
.a4a-cifx-status-run,
.a4a-cifx-status-bus,
.a4a-cifx-status-com,
.a4a-cifx-status-err,
.a4a-network-status {
    width:30px;
    height: 30px;
    border-style: solid;
    border-color: silver;
    border-width: medium;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.a4a-cifx-status-ready[status="off"] {
    background-color: gray;
}

.a4a-cifx-status-ready[status="on"] {
    background-color: yellow;
}

.a4a-cifx-status-run[status="off"] {
    background-color: gray;
}

.a4a-cifx-status-run[status="on"] {
    background-color: lime;
}

.a4a-cifx-status-bus[status="off"] {
    background-color: gray;
}

.a4a-cifx-status-bus[status="on"] {
    background-color: lime;
}

.a4a-cifx-status-com[status="off"] {
    background-color: gray;
}

.a4a-cifx-status-com[status="on"] {
    background-color: lime;
}

.a4a-cifx-status-err[status="off"] {
    background-color: gray;
}

.a4a-cifx-status-err[status="on"] {
    background-color: red;
}

.a4a-network-status[status="off"] {
    background-color: gray;
}

.a4a-network-status[status="on"] {
    background-color: lime;
}

table.a4a-cifx-status-table td:first-child {
    width     : 30px;
    height    : 30px;
    text-align: left;
}

table.a4a-com-err-table td {
    text-align: left;
}

table.a4a-com-err-table td:first-child {
    width     : 50px;
}


