/* Thanks to :
 * https://www.w3schools.com/css/css_tooltip.asp
 */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptextright,
.tooltip .tooltiptextleft {
  visibility: hidden;
  min-width: 250px;
  background-color: steelblue;
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.3s;
}

/* Small Tooltip */
.tooltip .tooltiptextsmall {
  top: -300%;
}

/* Big Tooltip */
.tooltip .tooltiptextbig {
  top: -500%;
}

/* Right Tooltip */
.tooltip .tooltiptextright {
  left: 105%;
}

/* Left Tooltip */
.tooltip .tooltiptextleft {
  right: 105%;
}

/* Arrows */
.tooltip .tooltiptextright::after,
.tooltip .tooltiptextleft::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}

/* Left Arrow */
.tooltip .tooltiptextright::after {
  right: 100%; /* To the left of the tooltip */
  border-color: transparent steelblue transparent transparent;
}

/* Right Arrow */
.tooltip .tooltiptextleft::after {
  left: 100%; /* To the right of the tooltip */
  border-color: transparent transparent transparent steelblue;
}

.tooltip:hover .tooltiptextright,
.tooltip:hover .tooltiptextleft {
  visibility: visible;
  opacity: 1;
}
